{
    "org":"{{ apigee_org }}",
    "env":"{{ apigee_env }}",
    "action":"proxy bind",
    "protocol":"https",
    "bind_resource": {
        "route":"{{ appName }}-{{ item }}.apps.apigee-cf.com" 
        },
    "user":"{{ apigee_user }}",
    "pass":"{{ apigee_password }}"
}