{
    "org":"tech-brief",
    "env":"prod",
    "action":"bind",
    "protocol":"https",
    "bind_resource": {
        "route": "{{ app_name }}-{{ item }}.apps.apigee-cf.com" 
        },
    "user" : "{{ apigee_user }}",
    "pass": "{{ apigee_password }}"
}