{
    "org":"tech-brief",
    "env":"prod",
    "action":"proxy bind",
    "protocol":"https",
    "bind_resource": {
        "route": "app-{{ item }}.apps.apigee-cf.com" 
        },
    "user" : "{{ apigee_user }}",
    "pass": "{{ apigee_password }}"
}